.detail-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px 60px;
  max-width: 800px;
}
.detail-image {
  max-height: 400px;
  max-width: 100%;
}
.detail-parah {
  font-size: 18px;
}
