.container {
  padding: 40px 16px 60px;
}
.order-cell {
  padding: 32px;
}
.order-cell table {
  margin-right: 16px;
}
.order-cell td {
  border: 1px solid gray;
}
.left-col {
  text-align: right;
  padding-right: 32px;
  width: 250px;
}
.right-col {

}

.edit-button {
  background-color: #5a5a5a;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 12px;
  white-space: nowrap;
  margin-bottom: 16px;
}
.delete-button {
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 12px;
  white-space: nowrap;
}
